@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 5, 92, 0.712), rgba(0, 0, 0, 0.486)),url('images/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.station-list {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    height: 100vh;
    width: 100vw;
    display: none;
}

.cancel {
    position: absolute;
    top: 10%;
    right: 10%;
    color: white;
    cursor: pointer;
    opacity: .6;
}

.station-list-items {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 0;
}

.station-list-title {
    display: flex;
}

.station-list-title, h2 {
    font-weight: 400;
    margin-right: 10px;
    font-size: 2.5rem;
    color: white;
}

.icon-music-mixer {
    font-size: 3rem;
}

.station-img {
    height: 30rem;
    border-radius: 10px;
}

.station-selection-buttons {
    color: white;
    display: flex;
    width: 20%;
    justify-content: space-around;
    align-items: center;
}

.station-selection-buttons p {
    font-size: 2rem;
    font-weight: 200;
}

.station-selection-buttons i {
    font-size: 4.5rem;
    cursor: pointer;
}

.station-play-skip i:hover {
    color: blue;
    font-size: 4.4rem;
}

.station-play-skip i:active {
    color: blue;
    font-size: 4.2rem;
}

.station-play-skip {
    width: 5%;
    display: flex;
    justify-content: center;
}

.station-play-skip i {
    font-size: 4rem;
    color: white;
    margin: 0 10px;
    cursor: pointer;
    transition: all .2s ease;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header {
    height: 10vh;
    width: 100%;
}

.logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-container h1 {
    font-weight: 200;
    color: white;
    margin-left: 40px;
}

.logo-shape {
    width: 8rem;
    height: 8rem;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(3rem);
}

.logo {
    height: 100%;
}

.station {
    width: 100%;
    margin: 0 auto;
}

.station-icon {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translateX(-50%, -50%);
}

.station-icon-img {
    width: 18%;
    transition: all .2s linear;
    animation: rotate 4s linear infinite;
}

.footer {
    width: 100%;
}

.music-footer {
    width: 100%;
    padding: .5rem 0;
    background-color: rgba(0, 0, 0, 0.473);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.music-footer h2 {
    color: white;
    font-weight: 400;
    font-size: 3rem;
    margin-left: 1rem;
}

.footer-icon {
    height: 100%;
    width: 10%;
    margin-top: 1rem;
    padding-left: 3rem;
}

.footer-icon i {
    font-size: 8rem;
    color: white;
}

@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

@media (min-width: 320px) and (max-width: 460px) {
    body {
        max-width: 100vw;
    }
    .station-list-title {
        display: flex;
        margin-bottom: 1rem;
    }
    .station-img {
        height: 24rem;
        border-radius: 10px;
    }
    .station-selection-buttons {
        color: white;
        display: flex;
        width: 85%;
        justify-content: space-around;
        align-items: center;
        margin-top: 1.5rem;
    }
    
    .station-selection-buttons p {
        font-size: 2rem;
        font-weight: 200;
    }
    
    .station-selection-buttons i {
        font-size: 4.5rem;
        cursor: pointer;
    }
    .station-play-skip {
        width: 15%;
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }
    
    header {
        height: 10vh;
        width: 80%;
    }
    
    .logo-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    .logo-container h1 {
        font-weight: 200;
        color: white;
        margin-left: 40px;
        font-size: 1.8rem;
    }
    
    .logo-shape {
        width: 6rem;
        height: 6rem;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(3rem);
    }

    .station-icon {
        position: absolute;
        top: 40%;
        left: 35%;
        transform: translateX(-50%, -50%);
    }

    .station-icon-img {
        width: 48%;
        transition: all .2s linear;
        animation: rotate 4s linear infinite;
    }

    .music-footer h2 {
        color: white;
        font-weight: 400;
        font-size: 1.4rem;
        margin-left: 2.8rem;
    }
    
    .footer-icon {
        height: 100%;
        width: 10%;
        margin-top: 1rem;
        padding-left: 1rem;
    }
    
    .footer-icon i {
        font-size: 4rem;
        color: white;
    }
    
    .news-footer {
        height: 7vh;
        width: 100%;
        background-color: rgba(3, 3, 224, 0.267);
    }
    .title-container {
        height: 100%;
        width: 36%;
        background-color: #000CE8;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%, 0 50%);
        clip-path: polygon(0 0, 100% 50%, 0 100%, 0 50%);
    }
}