@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 5, 92, 0.945), rgba(0, 0, 0, 0.678)),url('images/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    height: 10vh;
    width: 100%;
}

.logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-container h1 {
    font-weight: 200;
    color: white;
    margin-left: 40px;
}

.logo-shape {
    width: 8rem;
    height: 8rem;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(3rem);
}

.logo {
    height: 100%;
}

.station {
    width: 100%;
    height: 76vh;
    margin: 0 auto;
}

.station-icon {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translateX(-50%, -50%);
}

.station-img {
    width: 18%;
    animation: rotate 4s linear infinite;
}

.music-footer {
    width: 100%;
    height: 7vh;
    background-color: rgba(0, 0, 0, 0.473);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.music-footer h2 {
    color: white;
    font-weight: 400;
    font-size: 3rem;
    margin-left: 1rem;
}

.footer-icon {
    height: 100%;
    width: 10%;
    margin-top: 1rem;
    padding-left: 3rem;
}

.footer-icon i {
    font-size: 8rem;
    color: white;
}

.news-footer {
    height: 7vh;
    width: 100%;
    background-color: rgba(0, 0, 100, 0.267);
}

.title-container {
    height: 100%;
    width: 6%;
    background-color: #000CE8;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%, 0 50%);
    clip-path: polygon(0 0, 100% 50%, 0 100%, 0 50%);
}

.title-container h3 {
    color: white;
    font-size: 2rem;
    margin-right: 4rem;
}

@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}